* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: hsl(228, 12%, 48%);
  font-size: 1.2rem;
}

.container {
  width: 144rem;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  /* padding: 3rem 5rem; */
  margin: 0;
  position: relative;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 54rem;
  overflow: hidden;
  border-radius: 9px;
}

.content__photo {
  background-image: url(../images/image-product-desktop.jpg);
  background-size: cover;
}

/* .product-img {
  height: 100%;
} */

.content__text {
  background-color: #fff;
  padding: 3rem;
}

/* PRICE */

.price {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.current-price {
  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  color: hsl(158, 36%, 37%);
}

.original-price {
  text-decoration: line-through;
  margin-left: 1rem;
}

/* TEXTS */

.heading-primary {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-weight: 900;
  color: hsl(212, 21%, 14%);
}

.heading-secondary {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: 1.2rem;
}

.product-description {
  line-height: 1.6;
}

/* BUTTON */

.button {
  text-decoration: none;
}

.btn {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-radius: 7px;
  font-weight: 700;
  color: #fff;
  background-color: #3c8067;
  padding: 12px 30px;
  text-align: center;
}

.btn:hover,
:active {
  background-color: #1e4034;
}
.btn-icon {
  margin-left: 1rem;
  text-align: right;
}
/* UTILITIES  */
.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 3rem;
}
